*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.image_daccueil{
    background-image: url("images/trax.jpg");
    background-size: cover;
    /* height: 100vh;  */
}

.search-btn:hover{
    color: #fafafa !important;
    background: #02ACDF ; 
   
}


.color_comcech{
    color: #02ACDF !important;
}


