*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.color_comcech_text{
    color: #02ACDF !important; 
}
.color_comcech{
    background: #02ACDF !important; 
}
.color_navbar2{
    background: #4a7b89 !important; 
}

.hover-navbar:hover{
    color: white !important;
}

ul.drop-navbar {
    left: -58px !important;
    background: #02acdf9d !important;
}

.hover-drop:hover{
    color: black !important;
    font-weight: bold;
}

.image_daccueil{
    background-image: url("../img/images/trax.jpg");
    background-size: cover;
    
}

.search-btn:hover{
    color: #fafafa !important;
    background: #02ACDF ; 
}
.btn:hover{
    background: #02ACDF !important;
    color: #fafafa !important;
}
.btn-border-comcech{

    border-color: #02ACDF !important ;
    color: #02ACDF !important ;
}
.color_footer{
    background: #2F333A !important;
}
footer a{
    color: #02ACDF !important ;
}
.bg-price{
    width: 40%;
    height: 40px;
    background-image: url("../img/images/bnr2.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.card_slaid:hover{
    border:2px solid #02ACDF !important;
}

.search{
    position: relative !important;
  }
  .icon_search {
    position: absolute !important;
    right: 15px !important;
    top: 33% !important;
    
  }
  .search input {
    padding-right: 50px !important;
  }

  .asied ul li a:hover{
    background-color:#02ACDF !important ;
 }

 /* cection slaide */
 @media screen and (min-width: 567px){
 .cards-wrapper{
     display:flex;
 }
 .card-slaid{
    margin: 0.5rem;
    width: calc(100/3);
}

.image-wrapper{
    margin: 0 auto;
    width: 22vw;
}
.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}


 }


 /* cection slaide */




@media screen and (max-width: 567px){
    .card-slaid:not(:first-child){
        display: none;
    }
}

@media screen and (max-width: 880px){

.form-signup{
    width:95% !important;
    
}

}





